.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #da3633 !important;
  border-color: #da3633 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #2d2e71 !important;
  border-color: #2d2e71 !important;
}